.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  background-color: #fff;
  z-index: 1000;
  width: 50%;
  height: 50%;

  position: relative;
  margin: auto;
  margin-top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  border: 1px solid black;
  /* overflow: scroll; */
  /*     transition: opacity 1000ms ${animation.easing};
    -webkit-overflow-scrolling: touch; */
  /* Transitions */
  /* &.overlay-enter-done {
      opacity: 1;
    }
    &.overlay-exit,
    &.overlay-enter {
      opacity: 0;
    } */
}

@media (max-width: 576px) {
  .modal {
    width: 100%;
  }
}

#backdrop {
  /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: block;
    padding-right: 16px; */
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
