.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* 
.modal {
  background-color: #fff;
  z-index: 1000;
  width: 50%;
  height: 50%;

  position: relative;
  margin: auto;
  margin-top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  border: 1px solid black;
}

@media (max-width: 576px) {
  .modal {
    width: 100%;
  }
}

#backdrop {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
 */